body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #111;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.page {
  padding: 20px;
}
